@charset "UTF-8";

/* ------------------共通------------------ */
a{
  text-decoration: none;
  font-family: 'Noto Sans CJK JP';
}

p{
  font-family: 'Noto Sans CJK JP';
  color: #666666;
}

li{
  color: #666666;
  list-style: none;
}

h1 h2 h4 h5 h6{
  color: #333333;
  font-family: 'Noto Sans CJK JP';
  font-weight: 900;
}

h3{
  color: #333333;
  font-family: 'montserrat';
  font-size: 72px;
  position: relative;
  display: inline-block;
  letter-spacing: 0.045em;
}

h3:before{
  content: '';
  position: absolute;
  left: 50%;
  bottom: -10px;/*線の上下位置*/
  display: inline-block;
  width: 32px;/*線の長さ*/
  height: 2px;/*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);/*位置調整*/
  background-color:  #666666
}

h4{
  letter-spacing: 0.08em;
}

.content-text{
  text-align: center;
}

.content-p{
  font-size: 18px;
  margin: 27px 0px 0px 0px;
}

img{
  max-width: 100%;
}

.btn-wrapper{
  display: flex;
  justify-content: center;
  margin-top: 86px;
}

.contact-btn-wrapper{
  display: flex;
  justify-content: center;
}

.contact-btn{
  display: block;
  width: 356px;
  padding: 23px 0;
  text-align: center;
  color: white;
  background-color: #F99900;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.12em;
  position: relative;
}

.contact-btn::after{
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border-top: 2px solid ;
    border-right: 2px solid ;
    border-color: #FFFFFF;
    transform: rotate(45deg);
    right: 40px;
    top: 47%;
    transition: all 0.3s ease-out;
}

.contact-btn:hover{
  background-color: #E34A1D;
}

.contact-btn:hover::after{
  content: "";
  position: absolute;
  transform: rotate(45deg) translateX(10px) translateY(-10px);
}

.section-btn-wrap{
  text-align: center;
  margin-top: 100px;
}

.section-btn{
  font-weight: bold;
  color: #FFFFFF;
  background-color: #333333;
  border-radius: 35px;
  position: relative;
  display: block;
  width: 320px;
  padding: 18px 0;
  text-align: center;
}

.section-btn:hover{
  color: #333;
  background-color: #EEE;
}

.section-btn::after{
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
  right: 40px;
  top: 47%;
  transition: all 0.3s ease-out;
}

.section-btn:hover::after{
  content: "";
  position: absolute;
  border-top: 2px solid #333;
  border-right: 2px solid #333;
  transform: rotate(45deg) translateX(10px) translateY(-10px);
}

/* ------------------header------------------ */

/* --aside--*/

.open,
.close,
aside{
  display: none;
}

input[type="checkbox"]{
  position: absolute;
  left: -50vw;
}

/* --header--*/

.site-header{
  width: 100%;
  position: absolute;
  margin-top: 32px;
  background: rgba(255,255,255,0);
}

.fixed{
  z-index: 2;
  position: fixed;
  transition: 0.5s;
  background: rgba(255,255,255,0.5);
}

.page-header{
  width: 1280px;
  height: 72px;
  margin: 0 auto;
  display: flex;
}

.header-logo{
  margin-left: 6.8%;
}

.header-logo-img{
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-header-left{
  width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav{
  margin-right: 48px;
}

.header-nav p{
  letter-spacing: 0.08em;
  font-size: 15px;
}

.header-nav span{
  font-size: 12px;
}

.nav-number{
  text-align: right;
  margin-bottom: 9px;
}

.header-nav-call p{
  font-size: 14px;
}

.header-nav-ul{
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

.header-nav-ul li a{
  color: #333333;
}

.header-nav-ul a:hover{
  color: #F99900;
}

.header-nav-ul li:not(:first-child) {
  margin-left:39px;
}

.header-nav-ul li:last-child {
  margin-right:8px;
}

.header-contact{
  margin: 0 0 0 auto;
  width: 142px;
}

.header-contact-btn{
  font-size: 15px;
  height: 72px;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #F99900;
}




/* ------------------------------------main------------------------------------ */

/* ------------------mv------------------ */
.main-visual{
  position: relative;
  width: 100%;
  height: 816px;
  margin-bottom: 98px;
}

.mv-body{
  width: 992px;
  margin: 0 auto;
}

.mv-back-color{
  z-index: -100;
  top: 0;
  right: 0;
  position: absolute;
  background-color: #f6f6f6;
  width: 70%;
  height: 760px;
}


.ill-logo{
  z-index: -50;
  position: absolute;
  top: 29%;
  left: 51%;
  width: 770px;
  height: 600px;
}

.mv-title{
  padding-top: 200px;
}

h2{
  font-size: 32px;
  letter-spacing: 0.06em;
  line-height: 1.8;
}

.mv-text{
  margin-top: 22px;
  letter-spacing: 0.035em;
  line-height: 1.75;
}

.mv-body .contact-btn{
  margin-top: 70px;
}


/* ------------------about------------------ */
.about-section{
  width: 100%;
}

.question-title{
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  letter-spacing: 4px;
  font-size: 40px;
}

h4 span{
  color: #F99900;
}

.question{
  max-width: 992px;
  margin: 0 auto;
}

.question-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.question-lead{
  display: flex;
  width: 100%;
}

.question-img{
  height: 150px;
  width: 150px;
}

.question-text{
  margin-top: 26px;
  line-height: 1.85;
  letter-spacing: 0.15em;
  font-size: 15px;
  font-weight: medium;
}

.answer{
  background-color: #f6f6f6;
  margin-top: 60px;
  height: 640px;
  position: relative;
}

.triangle{
  width: 0;
  height: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-top: 40px solid white;
  margin: 0 auto;
}

.answer-wrapper{
  text-align: center;
  margin-top: 40px;
}

.answer-title{
  font-weight: bold;
  font-size: 40px;
  letter-spacing: -0.01em;
}

.answer-img-div{
  margin-top: 24px;
}

.answer-img{
  text-align: center;
  height: 287px;
  width: 700px;
}

.answer-text{
  margin-top: 5px;
}

.answer-text p{
  line-height: 1.85;
  letter-spacing: 0.17em;;
  font-size: 15px;
}

/* ------------------main-service----------------- */
.service{
  max-width: 992px;
  margin: 0 auto;
}

.service-heading{
  text-align: center;
  margin-top: 160px;
}

.service-container{
  margin-top: 75px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 36px;
}

.service-item{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 400px;
  background-color: #f6f6f6;
}

.service-item:hover{
  background-color:rgba(102,102,102,1) ;
}

.service-head{
  position: absolute;
  bottom: 0;
  margin-left: 20px;
  margin-bottom: 30px;
  line-height: 1;
  color: #333333;
  transition: all 0.3s ease;
}

.service-item:hover .service-head{
  bottom: 130px;
  transition: all 0.35s ease;
  color: #fff;
} 

.service-item:hover .service-head p{
  color: #fff;
} 

.hover-text{
  position: absolute;
  bottom: 0;
  margin: 0px 20px 30px 20px;
  opacity: 0;
  transform:  translateY(100%);
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.15em;
  font-family: 'Noto Sans CJK JP';
}

.service-item:hover .hover-text{
  opacity: 1;
  transition: all 0.35s ease;
  transform: none;
}

.service-item:hover img{
  opacity: 0.5;
}

.service-img-ill1{
  width: 220px;
  height: 280px;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.service-img-ill2{
  width: 330px;
  height: 310px;
  position: absolute;
  top: 48%;
  left: 49%;
  transform: translate(-50%,-50%);
}

.service-img-ill3{
  width: 380px;
  height: 230px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-45%);
}

.service-img-ill4{
  width: 206px;
  height: 240px;
  position: absolute;
  top: 44%;
  left: 51%;
  transform: translate(-50%,-45%);
}

.service-p{
  font-size: 32px;
  letter-spacing: 0.07em;
  margin-bottom: 12px;
  color: #333;
}

.ing-trans{
  font-size: 16px;
  letter-spacing: 0.02em;
  font-family: 'montserrat';
}

/* ------------------main-works----------------- */
.works{
  max-width: 992px;
  margin: 0 auto;
}

.works-heading{
  text-align: center;
  margin-top: 160px;
}

.works-container{
  margin-top: 75px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 38px;
}

.works-link{
  position: relative;
  overflow: hidden;
}

.works-item-img{
  width: 100%;
  height: 303px;
  vertical-align: bottom;
}

.works-page-title{
  margin-top: 8px;
  font-size: 16px;
  color: #333333;
  font-weight: 600;
}

.works-page-des{
  margin-top: 5px;
  font-size: 12px;
  font-family: 'montserrat';
  letter-spacing: 0.06em;
  color: #666666;
}

.works-hover-text{
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 40%;
  opacity: 0;
  transform:  translateY(100%);
  text-align: center;
}

.works-link:hover .works-hover-text,
.works-link:hover .material-icons{
  opacity: 1;
  transition: all 0.3s ease;
  transform: translateY(0%);
}

.material-icons{
  color: #FFFFFF;
  font-size: 38px;
  position: absolute;
  bottom: 44%;
  right: 5%;
  opacity: 0;
  transform:  translateY(100%);
}

.works-hover-text-head{
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.045em;
  position: relative;
}

.works-hover-text-head:before{
  content: '';
  position: absolute;
  left: 50%;
  bottom: -15px;/*線の上下位置*/
  display: inline-block;
  width: 20px;/*線の長さ*/
  height: 1px;/*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);/*位置調整*/
  background-color:  #fff
}

.works-hover-text-lead{
  color: #fff;
  font-family: 'montserrat';
  font-size: 12px;
  letter-spacing: 0.045em;
  padding-top: 2em;
}

.mask{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background-color:rgba(0,0,0,0.5) ;
}

.works-link:hover .mask{
  opacity: 1;
}


/* ------------------main-specialty----------------- */
.specialty{
  max-width: 992px;
  margin: 0 auto;
}

.specialty-heading{
  text-align: center;
  margin-top: 154px;
}

.specialty-container{
  margin-top: 75px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 40px;
}

.specialty-item{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 400px;
  background-color: #f6f6f6;
}

.specialty-item:hover{
  background-color:rgba(102,102,102,1) ;
}

.specialty-head{
  position: absolute;
  bottom: 0;
  margin-left: 20px;
  margin-bottom: 30px;
  line-height: 1;
  color: #333333;
  transition: all 0.3s ease;
}

.specialty-item:hover .specialty-head{
  bottom: 130px;
  transition: all 0.35s ease;
  color: #fff;
} 

.specialty-item:hover .specialty-head p{
  color: #fff;
} 

.specialty-item:hover .hover-text{
  opacity: 1;
  transition: all 0.35s ease;
  transform: none;
}

.specialty-item:hover img{
  opacity: 0.5;
}

.specialty-img-ill1{
  width: 235px;
  height: 260px;
  position: absolute;
  top: 42%;
  left: 49%;
  transform: translate(-50%,-45%);
}

.specialty-img-ill2{
  width: 165px;
  height: 230px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-45%);
}

.specialty-img-ill3{
  width: 290px;
  height: 220px;
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%,-45%);
}

.specialty-img-ill4{
  width: 176px;
  height: 260px;
  position: absolute;
  top: 43%;
  left: 53%;
  transform: translate(-50%,-45%);
}

.specialty-p{
  font-size: 32px;
  letter-spacing: 0.07em;
  margin-bottom: 12px;
  color: #333;
}

.specialty-trans{
  font-size: 16px;
  letter-spacing: 0.02em;
  font-family: 'montserrat';
}


/* ------------------main-news----------------- */
.news{
  max-width: 992px;
  margin: 0 auto;
}

.news-heading{
  text-align: center;
  margin-top: 160px;
}

.news-container{
  margin-top: 75px;
}

.news-item{
  margin-bottom: 30px;
  display: flex;
}

.news-left-item{
  width: 60%;
  padding-right: 20px;
  border-right: #f6f6f6 solid 1px;
}


.news-icon{
  padding: 0px 4px;
  font-size: 12px;
  color: #F99900;
  border-width: 1px;
  border-style: solid;
  border-color:#F99900;
}

.news-title{
  color: #333;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.news-date{
  font-size: 12px;
  letter-spacing: 0.07em;
}

.news-outline{
  padding-left: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.news-outline p{
  font-size: 16px;
  letter-spacing: -0.01em;
  line-height: 2;
}


/* ------------------main-blog----------------- */
.blog{
  max-width: 992px;
  margin: 0 auto;
}

.blog-heading{
  text-align: center;
  margin-top: 160px;
}

.blog-container{
  margin-top: 75px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 38px;
  grid-template-rows: 1fr 1fr;

}

.blog-item{
  background-color: #f6f6f6;
}

.blog-img{
  width: 100%;
  height: 220px;
  padding: 0;
  margin: 0;
}

.blog-title{
  color: #333;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.01em;
  line-height: 1.7;
  margin-top: 4px;
  margin-left: 12px;
}

.blog-date{
  font-size: 12px;
  letter-spacing: 0.1em;
  margin-top: 7px;
  margin-left: 12px;
  margin-bottom: 18px;
}


/* ------------------main-contact-banner----------------- */
.contact{
  width: 100%;
  height: 370px;
  margin-top: 158px;
  background-color: #3357A7;
  text-align: center;
}

.contact-heading{
  padding-top: 50px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 32px;
  letter-spacing: 0.02em;
}

.contact .contact-btn{
  margin-top: 38px;
}

.contact-wrapper{
  margin-top: 36px;
}

.contact-info{
  width: 780px;
  height: 80px;
  margin: 0 auto;
  border: 1px solid #ffffff;
  padding: 20px 0px;
  display: flex;
  justify-content: space-around;
}

.contact-text, .contact-ill, .contact-cn, .contact-time{
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-text{
  margin-left: 34px;
}

.contact-text p{
  color: #FFFFFF;
  font-size: 16px;
  font-weight: normal;
}

.contact-cn{
  margin-bottom: 4px;
}

.contact-cn span{
  color: #FFFFFF;
  font-weight: bold;
  font-family: 'Noto Sans CJK JP';
  font-size: 34px;
  letter-spacing: 0.1em;
}

.contact-time{
  margin-right: 34px;
}

.contact-time span{
  color: #FFFFFF;
  font-size: 16px;
  letter-spacing: -0.1em;
}



/* ------------------footer----------------- */
footer{
  padding-top: 41px;
}

/* ------------cat1------------ */
.footer-cat1{
  max-width: 992px;
  margin: 0px auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 84px;
}

.footer-lead{
  font-size: 20px;
  border-bottom:  #666666 solid 1px;
  padding-bottom: 16px;
  margin-bottom: 17px;
  letter-spacing: 0.09em;
}

.footer-li li{
  font-size: 12px;
  letter-spacing: 0.1em;
}

.footer-li-parent{
  padding-bottom: 8px;
}

.footer-li-child li{
  padding-left: 1.3em;
}

.footer-li-child li:first-child{
  margin-top: 9px;
}

.footer-li-child li:not(:last-child){
  padding-bottom: 9px;
}

.footer-flex2{
  display: grid;
  grid-template-columns: 57% 1fr;
}

.footer-item2{
  margin-bottom: 26px;
}



/* ------------cat2------------ */
.footer-cat2{
  width: 100%;
  margin-top: 40px;
  border:  #f6f6f6 solid 1px;
}

.footer-cat2-text{
  max-width: 992px;
  margin: 20px auto;
  display: flex;
}


.footer-cat2-text img{
  width: 160px;
  height: 40px;

}

.footer-cat2-add{
  display: flex;
  margin: 0 0 0 auto;
  font-size: 14px;
}

.footer-cat2-sendai, .footer-cat2-tokyo{
 width: 285px;
 display: flex;
 font-size: 12px;
}

.footer-cat2-sendai{
  margin-right: 60px;
}

.footer-cat2-tokyo{
  margin-right: 20px;
}

.sendai-detail p, .tokyo-detail p{
  padding-right: 12px;
  border-right: #f6f6f6 solid 1px;
  text-align: center;
}


.footer-cat2-add address{
  padding-left: 12px;
}

/* ------------cat3------------ */
.footer-cat3{
  max-width: 992px;
  margin: 0px auto;
  text-align: right;
  padding: 10px 0px 10px 0px;
}

.footer-cat3 p{
  font-size: 14px;
  letter-spacing: 0.05em;
}